In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [67]:
# Read in the csv data
raw = pd.read_csv('../data/christies_data.csv')

---
## Data Cleaning

In [154]:
df = raw.copy()
df = df[df['estimate_visible'] == True]

# dropna based on lot title and price and fill
df = df.dropna(subset=['title_primary_txt', 'price_realised'])
fills = {'location':'unknown', 'consigner_information':'unknown'}
df = df.fillna(value=fills)

# create new columns
titles = zip(df['title_primary_txt'], df['title_secondary_txt'])
df['title_full'] = [f'{p}: {s}' if s is not np.nan else p for p,s in titles]

# clean up description
lis = [i.split('<BR>') for i in df['description_txt']]
str_out = [''.join(lis[i][1:-1]).replace('/n','') for i, z in enumerate(lis)]
df['clean_description'] = str_out

# Format dates
df['start_date'] = pd.to_datetime(df['start_date'])
df['end_date'] = pd.to_datetime(df['end_date'])

In [157]:
# drop undesired columns
cols_to_drop = ['Unnamed: 0', 'is_auction_over', 'is_in_progress', 
                'title_tertiary_txt', 'current_bid', 'current_bid_txt',
                'is_saved', 'show_save', 'current_bid', 'current_bid_txt',
                'price_realised_txt', 'lot_withdrawn', 'estimate_txt',
                'estimate_on_request', 'is_estimate_unknown', 'price_on_request',
                'title_secondary_txt', 'estimate_visible', 'image']

data = df.copy()
data = data.drop(cols_to_drop, axis=1)
data.head(2)

,object_id,lot_id_txt,event_type,start_date,end_date,url,title_primary_txt,consigner_information,description_txt,estimate_low,estimate_high,price_realised,lot_title,location,title_full,clean_description
0,5287253,1,Sale,2010-01-28 00:00:00+00:00,2010-01-28 05:00:00+00:00,https://www.christies.com/lot/lot-5287253?ldp_...,AN AGATE GEODE,unknown,AN AGATE GEODE <BR>\nAffixed to a stained maho...,800.0,1200.0,1875.0,A Cabinet of Curiosities Selections from the P...,New York,AN AGATE GEODE,"\nAffixed to a stained mahogany stand, restore..."
1,5287254,2,Sale,2010-01-28 00:00:00+00:00,2010-01-28 05:00:00+00:00,https://www.christies.com/lot/lot-5287254?ldp_...,A STAGHORN CORAL,unknown,"A STAGHORN CORAL <BR>\n10 in. (25.5 cm.) high,...",500.0,800.0,1625.0,A Cabinet of Curiosities Selections from the P...,New York,A STAGHORN CORAL,"\n10 in. (25.5 cm.) high, 15 in. (38 cm.) wide..."

In [158]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53903 entries, 0 to 54632
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   object_id              53903 non-null  int64
 1   lot_id_txt             53903 non-null  object
 2   event_type             53903 non-null  object
 3   start_date             53903 non-null  datetime64[ns, UTC]
 4   end_date               53903 non-null  datetime64[ns, UTC]
 5   url                    53903 non-null  object
 6   title_primary_txt      53903 non-null  object
 7   consigner_information  53903 non-null  object
 8   description_txt        53903 non-null  object
 9   estimate_low           53903 non-null  float64
 10  estimate_high          53903 non-null  float64
 11  price_realised         53903 non-null  float64
 12  lot_title              53903 non-null  object
 13  location               53903 non-null  object
 14  title_full             53903 non-null  object
 15  clean_description      53903 non-null  object
dtypes: datetime64[ns, UTC](2), float64(3), int64(1), object(10)
memory usage: 7.0+ MB

---
## Create different tables

- url link table
- to use for model
- monthly and yearly

In [140]:
# lot links table
meta = data[['object_id', 'url']]

In [142]:
# model data
mod_data = data.drop(['object_id', 'lot_id_txt', 'url', 'title_primary_txt', 
                      'description_txt'], axis=1)